form {}
form div {
    margin: 5px 0;
}
form label {
    display: block;
}
textarea,
input[type="text"],
input[type="password"] {
    padding: 5px;
    width: 350px;
    border: solid 1px #ddd;
    display: inline;
    font: inherit;
    outline: none;
}
textarea {
    min-height: 80px;
}
form span input[type="checkbox"],
form span label {
    display: inline;
}
form .error {
    display: block;
    color: #DD3333;
}

#avatar_preview {
    width: 150px;
    height: 150px;
    display: block;
    background-size: cover;
    background-position: center;
}

#token input,
#token button {
    display: inline-block;
    vertical-align: top;
}
#token input {
    padding-top: 7px;
    padding-bottom: 7px;
}
#token button {
    margin-top: 2px;
}
