/* Body font */

@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: local('Lexend Deca Regular'), local('LexendDeca-Regular'), url(https://fonts.gstatic.com/s/lexenddeca/v1/K2F1fZFYk-dHSE0UPPuwQ5qnJy_YZ2ON.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lexend Deca', serif;
    font-size: 20px;
    background: white;
    color: #111;
}
main, footer {
    padding: 0 10px 10px;
}
header {
    padding: 3px 0 0 10px;
    background: #00aff0;
    color: white;
}
header, h1, h2, h3, h4, h5, h6 {
    font-family: 'Somatic', 'Lexend Deca', serif;
}
header a {
    text-decoration: none;
}
header #logo {
    height: 40px;
    margin-right: 5px;
    margin-top: 4px;
}
header #logo-text {
    font-size: 50px;
    line-height: 1;
    display: inline-block;
    transform: translateY(-3px);
}
header nav ul {
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    float: right;
}
header nav li {
    list-style: none;
    display: inline-block;
}
header nav ul a {
    padding: 8px 0;
    margin: 0 6px;

    display: inline-block;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
header nav ul a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: white;
    height: 3px;
    transition: right 0.3s ease-out;
}
header nav ul a:hover:before, header nav ul a:focus:before, header nav ul a:active:before {
    right: 0;
}
header .session {
    padding: 8px;
    background: white;
    color: #00aff0;
}
h3 {
    font-size: 30px;
}
main {
}
.errors {
    list-style: none;
}
.errors li {
    font-style: italic;
}
section {
    margin-bottom: 20px;
}
section:last-of-type {
    margin-bottom: 0;
}
ol {
    margin-left: 22px;
}
ol, main p {
    line-height: 1.4;
}
.profile {
    padding-bottom: 10px;
}
.profile > * {
    display: inline-block;
    vertical-align: top;
}
.avatar {
    width: 140px;
    height: 140px;
}
.avatar.large {
    width: 250px;
    height: 250px;
    float: left;
    margin-right: 10px;
}

.bot_list {

}
.bot_list .bot {
    display: inline-block;
    vertical-align: top;
    width: 4in;
    padding: 10px;
    margin: 4px;
    padding-bottom: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
.bot_list .bot .row img {
    float: left;
}
.bot_list .bot .row > * {
    display: inline-block;
    vertical-align: top;
}
.bot h4 {
    font-size: 35px;
    width: 210px;
}
.bot h4 a {
    text-decoration: none;
}
.status {
    display: inline-block;
    color: #31c793;
}
.pill {
    display: inline-block;
    background: #00aff0;
    padding: 4px;
    margin: 10px 0;
    color: white;
    border-radius: 4px;
}
p {
    padding: 10px 0;
}
a {
    color: inherit;
}
select, input, .button {
    font: inherit;
    margin: 2px 0;
    outline: none;
}
input[type="text"] {
    width: 300px;
    display: block;
}
label {
    display: block;
}
input[type="submit"],
button,
.button {
    font: inherit;
    background: #00aff0;
    color: white;
    border: none;
    padding: 8px 10px;
    text-decoration: none;
    vertical-align: middle;
    transition: 0.5s color background;
    cursor: pointer;
    display: inline-block;
}
input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active,
button:hover, button:focus, button:active,
.button:hover, .button:focus, .button:active {
    transition: 0.6s color background;
}
.button-row {
    margin: 10px 0 20px;
}
footer {
    color: #aaa;
    font-size: 10px;
}

@media (min-width: 800px) {
    header, footer {
        padding-left: 25px;
    }
    main {
        padding: 20px 25px;
    }
}
