@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: local('Lexend Deca Regular'), local('LexendDeca-Regular'), url(https://fonts.gstatic.com/s/lexenddeca/v1/K2F1fZFYk-dHSE0UPPuwQ5qnJy_YZ2ON.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lexend Deca', serif;
    font-size: 16px;
    background: #00aff0;
    color: #222;
}
main {
    padding: 10px 16px;
}
header {
    padding: 8px 12px 10px;
    color: white;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}
header, h1, h2, h3, h4, h5, h6 {
    font-family: 'Lexend Deca', serif;
}
#logo {
    text-decoration: none;
    margin-right: 5px;
    flex: 1;
    white-space: nowrap;
    display: block;
    transition: 0.3s;
}
#logo.hidden {
    opacity: 0;
}
#logo img {
    height: 40px;
}
#logo h2 {
    font-size: 50px;
    line-height: 1;
    display: inline-block;
    transform: translateY(-3px);
}
nav {
    margin-top: 4px;
    position: absolute;
    top: -100px;
    transition: 0.3s;
}
nav.open {
    height: auto;
    top: 10px;
}
nav li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}
nav a {
    text-decoration: none;
    padding: 8px 0;
    margin: 0 6px;

    display: inline-block;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
nav a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: white;
    height: 3px;
    transition: 0.3s ease-out;
}
nav a:hover:before, nav a:focus:before, nav a:active:before {
    right: 0;
}
nav a img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 100%;
}
nav a.iconic {
    transition: 0.3s;
    padding: 0;
}
nav a.iconic:hover {
    transform: scale(1.2);
    transition: 0.4s;
}
nav a.emphasized {
    padding: 8px 12px;
    background: white;
    color: #00aff0;
    border-radius: 20px;
}
nav a.iconic:before,
nav a.emphasized:before {
    display: none;
}

#nav-button {
    border: solid 20px #00aff0;
    background: #00aff0;
    width: 75px;
    height: 70px;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(0);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 200;
}
#nav-button span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    opacity: 1;
    left: 0;
    transform: rotate(0);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav-button span:nth-child(1) {
    top: 0;
}
#nav-button span:nth-child(2) {
    top: 14px;
}
#nav-button span:nth-child(3) {
    top: 28px;
}
#nav-button.open span:nth-child(1) {
    top: 14px;
    transform: rotate(-135deg);
}
#nav-button.open span:nth-child(2) {
    opacity: 0;
    right: -60px;
}
#nav-button.open span:nth-child(3) {
    top: 14px;
    transform: rotate(135deg);
}

h3 {
    font-size: 30px;
}
.errors {
    list-style: none;
}
.errors li {
    font-style: italic;
}
section {
    margin-bottom: 20px;
}
section:last-of-type {
    margin-bottom: 0;
}
ol {
    margin-left: 22px;
}
ol, main p {
    line-height: 1.4;
}

.jumbotron {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    max-width: 8in;
    margin: 0 auto;
}
.jumbotron h1 {
    font-size: 50px;
}
.jumbotron p {
    font-size: 20px;
    max-width: 8in;
    padding: 8px 0 12px;
}

.row {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
}
.row .cell {
    max-width: 100%;
    overflow: hidden;
}
.row .cell.rigid {
    flex-shrink: 0;
}

.avatar {
    width: 85px;
    height: 85px;
    object-fit: cover;
    border-radius: 100%;
    display: block;
}
.avatar.small {
    width: 50px;
    height: 50px;
}
.avatar.large {
    width: 120px;
    height: 120px;
    margin-right: 10px;
}

.bot_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.bot {
    vertical-align: top;
    width: 100%;
    padding: 20px 20px 15px;
    margin: 0 0 12px;
    background: white;
    border-radius: 23px;
}
.bot .avatar {
    margin-right: 8px;
}
.bot h4 {
    font-size: 27px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.bot a {
    text-decoration: none;
}
.pill {
    display: inline-block;
    color: #00aff0;
    padding: 8px 0;
    margin: 6px 3px;
    border-radius: 4px;
}
.bot .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 4px 0;
}

#search {
    color: white;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 12px;
    margin-bottom: 25px;
    max-width: 100%;
    width: 4.5in;
    border-radius: 23px;
    font-size: 20px;
}
#search_bar {
    flex-grow: 1;
    width: auto;
    background: none;
    color: white;
}
#search_bar::placeholder {
    color: rgba(255, 255, 255, 0.6);
    opacity: 1;
}

#search_bar:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

#search_bar::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.profile {
    padding: 0 10px 30px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.profile .avatar {
    margin-right: 8px;
}
.profile .details {
    text-align: center;
}

.header_row h1 {
    display: inline-block;
    margin-right: 3px;
}
.header_row .pill {
    vertical-align: top;
    margin-top: -2px;
}

article {
    max-width: 8in;
    background: white;
    border-radius: 18px;
    padding: 20px;
    margin: 0 auto 10px;
}
article p {
    margin: 10px 0;
}
a {
    color: inherit;
}

@media (min-width: 645px) {
    #nav-button {
        display: none;
    }
    nav {
        height: auto;
        position: static;
        top: 0;
    }
    #logo.hidden {
        opacity: 1;
    }
    .avatar.large {
        width: 150px;
        height: 150px;
    }
}
@media (min-width: 775px) {
    .columns .column {
        display: inline-block;
        vertical-align: top;
    }
    .columns.major .column:not(:last-child) {
        margin-right: 10px;
    }
}
@media (min-width: 938px) {
    header {
        padding: 15px 20px;
    }
    main {
        padding: 12px 25px;
    }
    .bot_list .bot {
        width: 4.5in;
        margin: 0 6px 12px;
    }
}
