@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KExcOPIDU.woff2) format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'PT Sans', serif;
    font-size: 20px;
    background: white;
    color: #111;
}
header, main, footer {
    padding: 10px 0;
}
header {
    background: #00aff0;
    color: white;
}
header a {
    text-decoration: none;
}
header #logo {
    font-size: 40px;
    line-height: 1;
    display: inline-block;
    margin-right: 10px;
}
header nav ul {
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
}
header nav ul.session {
    float: right;
}
header nav li {
    list-style: none;
    display: inline-block;
}
header nav ul a {
    padding: 5px 3px;
}
h3 {
    font-size: 30px;
}
main {
    max-width: 12in;
}
.errors {
    list-style: none;
}
.errors li {
    font-style: italic;
}
section {
    margin-bottom: 20px;
}
section:last-of-type {
    margin-bottom: 0;
}
.profile {
    border-bottom: solid 1px #ddd;
    padding-bottom: 10px;
}
.profile > * {
    display: inline-block;
    vertical-align: top;
}
.avatar {
    width: 100px;
    height: 100px;
}
.profile .details {
}
.bot_list {

}
.bot_list .bot {
    display: inline-block;
    vertical-align: top;
    width: 3in;
    margin: 5px 5px 0 0;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
p {
    padding: 10px 0;
}
a {
    color: inherit;
}
select, input, .button {
    font: inherit;
    margin: 2px 0;
    outline: none;
}
input[type="text"] {
    width: 300px;
    display: block;
}
label {
    display: block;
}
input[type="submit"],
button,
.button {
    color: #00aff0;
    background: none;
    padding: 8px 10px;
    border: solid 2px #00aff0;
    text-decoration: none;
    vertical-align: middle;
    transition: 0.5s color background;
    cursor: pointer;
    display: inline-block;
}
input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active,
button:hover, button:focus, button:active,
.button:hover, .button:focus, .button:active {
    color: white;
    background: #00aff0;
    transition: 0.6s color background;
}
.button-row {
    margin: 10px 0 20px;
}
footer {
    color: #aaa;
    font-size: 10px;
}

@media (min-width: 800px) {
    header, footer {
        padding: 10px 25px;
    }
    main {
        padding: 20px 25px;
    }
}
