<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title>{{ title }} - GroupMeBot</title>
        {% else %}
        <title>GroupMeBot</title>
        {% endif %}
        <meta name="viewport" content="width=device-width">
        <meta name="theme-color" content="#00356b">
        <link rel="stylesheet" href="/static/stylesheets/main.css">
        <link rel="stylesheet" href="/static/stylesheets/form.css">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
        <header>
            <h1>GroupMeBot</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('root') }}">Home</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
            </nav>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            &copy; <a href="https://erikboesen.com">Erik Boesen</a>.
        </footer>
    </body>
</html>
