<div class="bot">
    <div class="columns">
        <div class="column">
            <a href="{{ url_for('bot', slug=bot.slug) }}">
                <img src="{{ bot.avatar_url or '/static/images/unknown.png' }}" alt="{{ bot.name }} bot avatar" class="avatar">
            </a>
        </div>
        <div class="column">
            <h4><a href="{{ url_for('bot', slug=bot.slug) }}">{{ bot.name }}</a></h4>
            {% include "_status.html" %}
            <div class="button-row">
                {% set owner = bot.owner %}
                {% if owner == current_user %}
                <a class="button" href="{{ url_for('edit_bot', slug=bot.slug) }}">Edit</a>
                {% endif %}
                <a class="button" href="{{ url_for('manager', slug=bot.slug) }}">Add</a>
                {% include "_population.html" %}
            </div>
        </div>
    </div>
    <p class="description">{{ bot.description }}</p>
</div>
