<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title>{{ title }} - MeBots</title>
        <meta property="og:title" content="{{ title }} - MeBots">
        {% else %}
        <title>MeBots for GroupMe</title>
        <meta property="og:title" content="MeBots for GroupMe">
        {% endif %}
        <meta name="viewport" content="width=device-width">
        <meta name="theme-color" content="#00aff0">
        <meta name="description" content="Enhance your GroupMe chats!">
        <meta name="author" content="Erik Boesen">
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:description" content="Enhance your GroupMe chats!">
        <meta property="og:image" content="https://mebots.co/static/images/logo/banner.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/form.css">
        <link rel="icon" href="/static/images/logo/favicon.png" type="image/png">
        <link rel="icon" href="/static/images/logo/favicon.ico" type="image/x-icon">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
            <a id="logo" href="{{ url_for('index') }}">
                <img src="/static/images/logo/icon-plain.png" alt="MeBots logo">
                <h2>MeBots</h2>
            </a>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Explore</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('documentation') }}">Docs</a></li>
                    <li><a href="{{ url_for('create_bot') }}">Create Bot</a></li>

                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}" class="emphasized">Log in with GroupMe</a></li>
                    {% else %}
                    <li><a href="{{ url_for('user', user_id=current_user.id) }}" class="iconic"><img src="{{ current_user.avatar_url() }}" alt="Your Profile"></a></li>
                    {% endif %}
                </ul>
            </nav>
            <div id="nav-button">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </header>
        <main>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="errors">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock %}
        </main>
        <script src="/static/js/main.js"></script>
    </body>
</html>
