{% extends 'base.html' %}

{% block content %}
    <img src="{{ bot.avatar_url or '/static/images/unknown.png' }}" alt="{{ bot.name }} bot avatar" class="avatar large">
    {% set owner = bot.owner %}
    <h1>
        {{ bot.name }}
        {% if owner == current_user %}
        [<a href="{{ url_for('edit_bot', slug=bot.slug) }}">Edit</a>]
        {% endif %}
    </h1>

    {% include "_population.html" %}
    {% include "_status.html" %}
    {% if bot.prefix %}
    <div class="pill">Prefix: {{ bot.prefix }}</div>
    {% endif %}

    <p>{{ bot.description }}</p>
    <p>Owner: <a href="{{ url_for('user', user_id=owner.id) }}">{{ owner.name }}</a></p>
    <div class="button-row">
        <a class="button" href="{{ url_for('manager', slug=bot.slug) }}">Add</a>
        {% if bot.website %}
        <a class="button" href="{{ bot.website }}">Bot website</a>
        {% endif %}
        {% if bot.test_group %}
        <a class="button" href="{{ bot.test_group }}">Join test/info group</a>
        {% endif %}
        {% if bot.repo %}
        <a class="button" href="{{ bot.repo }}">Source repository</a>
        {% endif %}
    </div>
{% endblock %}
