{% extends 'base.html' %}

{% block content %}
<article>
    <div class="row">
        {% with custom_classes = 'large cell rigid' %}{% include "_avatar.html" %}{% endwith %}
        <div class="cell">
            {% set owner = bot.owner %}
            <div class="header_row">
                <h1>
                    {{ bot.name }}
                </h1>
                {% include "_population.html" %}
            </div>
            <div class="button_row">
                {% if owner == current_user %}
                <a class="button" href="{{ url_for('views.edit_bot', slug=bot.slug) }}"><i class="fa fa-pencil"></i> Edit</a>
                {% endif %}

                {% if bot.website %}
                <a class="button" href="{{ bot.website }}"><i class="fa fa-globe"></i> Website</a>
                {% endif %}
                {% if bot.test_group %}
                <a class="button" href="{{ bot.test_group }}"><i class="fa fa-comments"></i> Help/Test Group</a>
                {% endif %}
                {% if bot.repo %}
                <a class="button" href="{{ bot.repo }}"><i class="fa fa-code"></i> Source</a>
                {% endif %}

                {% if bot.prefix %}
                <span class="button">Command Prefix: {{ bot.prefix }}</span>
                {% endif %}
                <a class="button" href="{{ url_for('views.user', user_id=owner.id) }}">By: {{ owner.name }} <img class="avatar" src="{{ owner.avatar_url() }}"></a>
            </div>
        </div>
    </div>

    <p>{{ bot.description }}</p>
</article>
{% if current_user.is_authenticated %}
<article>
    <h2>
        Add {{ bot.name }} to a group
    </h2>
    <form method="post">
        {{ form.hidden_tag() }}

        <div>
            {{ form.group_id }}
        </div>

        {% if bot.name_customizable %}
        <div>
            {{ form.name.label }}
            {{ form.name }}
        </div>
        {% endif %}

        {% if bot.name_customizable %}
        <div>
            {{ form.avatar_url.label }}
            {{ form.avatar_url }}
        </div>
        {% endif %}

        <div>
            {{ form.submit }}
        </div>
    </form>
</article>
<article>
    <h2>Active groups</h2>
    {% if instances %}
    <table>
        <thead>
            <th>Avatar</th>
            {#<th>Bot ID</th>#}
            <th class="rich">Name</th>
            <th>Group</th>
            <th></th>
        </thead>
        <tbody>
            {% for instance in instances %}
            <tr>
                <td>{% with custom_classes = 'small' %}{% include "_avatar.html" %}{% endwith %}</td>
                {#<td>{{ instance.id }}</td>#}
                <td class="rich">{{ instance.name or bot.name }}</td>
                <td>{{ instance.group_name }}</td>
                {# we should avoid revealing the bot IDs if we can! That'd be neat. Although they
                   could just get it through the bot management panel anyway... #}
                <td><button class="button delete" instance_id="{{ instance.id }}">Leave</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>You haven't added this bot to any groups yet!</p>
    {% endif %}
</article>
<script src="/static/js/manager.js"></script>
{% else %}
<article>
    <h2><a href="{{ url_for('views.login') }}?next={{ url_for('views.bot', slug=bot.slug) }}">Log in with GroupMe</a> to add {{ bot.name }} to your groups!</h2>
</article>
{% endif %}
{% endblock %}
