{% extends 'base.html' %}

{% block content %}
<article>
    <h3>Creating a bot</h3>
    <p>Launching a bot with MeBots is even easier than using the official GroupMe API. Just follow these steps, and remember that help with any part of this process is available <a href="https://groupme.com/join_group/90126249/eNj22Ofs">here!</a></p>
    <ol>
        <li>Go to <a href="{{ url_for('views.create_bot') }}" target="_blank">Create Bot</a>.</li>
        <li>Fill out the form! Most fields are not mandatory, but will help people locate and use your bot more effectively. Take particular note of the Callback URL. This is the URL where your bot is hosted on the internet, and where messages will be forwarded to for processing. Many developers like to host their bot on <a href="https://heroku.com">Heroku</a>, <a href="https://aws.amazon.com/lambda">AWS Lambda</a>, or a personal server. Omit the callback URL if your bot does not need to receive or react to messages.</li>
        <li>Hit save to create your bot.</li>
    </ol>
    <p>Congratulations! Users can now add your bot to GroupMe through the MeBots website. In your bot code, you will need to accept HTTP POST requests to the callback URL you specified. The request will contain a JSON body just like in a conventional GroupMe bot, but with a few fields added:
<pre>{
    "attachments": [],
    "avatar_url": "https://i.groupme.com/123456789",
    "created_at": 1302623328,
    "group_id": "1234567890",
    "id": "1234567890",
    "name": "John",
    "sender_id": "12345",
    "sender_type": "user",
    "source_guid": "GUID",
    "system": false,
    "text": "Hello world, this is an example message! 😊",
    "user_id": "1234567890",
    <strong>"bot_id": "a1b2c3d4e5f61728394",
    "token": "a02h1d0/9fn032h9en0=293n40wqm0s9wjd"</strong>
}</pre>
    <p>The <code>bot_id</code> can be used to send messages through your bot as described <a href="https://dev.groupme.com/tutorials/bots">here</a> under the headline "Next: make your bot do something." The <code>token</code> property will be added if you request it and can be used to query GroupMe's API, although most bots do not need this. With the bot ID provided from MeBots, you can easily send messages from the bot across multiple groups rather than hardcoding the ID for a single chat.</p>
    <h3>Using the MeBots API</h3>
    <p>Most bots do not need to actively query the MeBots API, as the <code>bot_id</code> and <code>token</code> for the group of each received message is now included directly in the payload sent by MeBots to your callback URL. You may still wish to query the API, for example if your bot runs on a timer rather than replying to messages. This is quite easy—read on to find out how.</p>
    <p><strong>NOTE: There are official premade libraries for some languages that handle connection logic for you, so you can more easily integrate the MeBots API with your bot code.</strong> Choose your language: <a href="https://github.com/MeBots/mebotspy">Python</a>, <a href="https://github.com/MeBots/mebotsjs">JavaScript</a></strong>, <a href="https://github.com/MeBots/mebotsrb">Ruby</a>. Please see the READMEs of those projects for detailed information on API interaction in these languages. Each library has a corresponding example bot demonstrating one possible way to implement it into a bot program: <a href="https://github.com/MeBots/mebots-example-python">Python</a>, <a href="https://github.com/MeBots/mebots-example-javascript">JavaScript</a>, <a href="https://github.com/MeBots/mebotsrb">Ruby</a>.</p>
    <p>If there's no library for your language, or if you want to handle things yourself, you will need to communicate directly to the MeBots API. Don't worry—this process is quite simple!</p>
    <p>There are two major API endpoints, which allow you to provide the ID of a group and get back the bot ID for your bot in that group (and <code>token</code>, if your bot requires it). This way, your bot doesn't need to worry about keeping track of which servers you're in. MeBots does that for you.</p>
    <p>From your bot's edit page, you will notice a "Token" box at the bottom of the page, with an automatically generated hexadecimal string. Take note of this token and your bot's shortname, as you will need them for authentication with the API from your bot's code. Do not share the token with anyone.</p>
    <p><code>GET https://mebots.io/api/bots/{shortname}/instances?token={your bot token}</code>: will provide a list of all groups your bot is active in, and bot IDs and tokens that can be used to send messages in those groups. This endpoint may be useful if you are trying to send a scheduled message in all groups.</p>
    <p><code>GET https://mebots.io/api/bots/{shortname}/instances/{group_id}?token={your bot token}</code>, substituting <code>{shortname}</code> for the shortname of your bot, and <code>{group_id}</code> for the ID of the group. You will receive a JSON response such as the following:</p>
    <code>
    {"id": "0123456789abcdef", "token": "abcd_efghi/jklmnopqrstu=vwxyz123456/7890"}
    </code>
    <p>The response can be parsed as JSON, and you can pass the <code>id</code> field as the <code>bot_id</code> parameter to the message post endpoint described in GroupMe's documentation <a href="https://dev.groupme.com/docs/v3#bots_post">here</a>.</p>
</article>
{% endblock %}
