{% extends "base.html" %}
{% block content %}
<article class="form">
    {% if bot %}
    <h1>Editing {{ bot.name }}</h1>
    {% else %}
    <h1>Create a bot</h1>
    <p>See the <a href="{{ url_for('views.documentation') }}">documentation</a> for instructions on how to create your bot and integrate with MeBots. Our team is here to assist you if you have any issues in the <a href="https://web.groupme.com/join_group/90126249/eNj22Ofs">MeBots Help group</a>!</p>
    {% endif %}
    <form action="" method="post">
        <div class="major columns">
            <div class="column">
                {{ form.hidden_tag() }}

                {% with item = form.name %}{% include "_input.html" %}{% endwith %}

                <div>{{ form.name_customizable() }} {{ form.name_customizable.label }}</div>

                {% with item = form.slug %}{% include "_input.html" %}{% endwith %}
                {% with item = form.avatar_url %}{% include "_input.html" %}{% endwith %}

                <div>{{ form.avatar_url_customizable() }} {{ form.avatar_url_customizable.label }}</div>

                {% with item = form.description %}{% include "_input.html" %}{% endwith %}
            </div>
            <div class="column">
                {% with item = form.callback_url %}{% include "_input.html" %}{% endwith %}
                {% with item = form.prefix %}{% include "_input.html" %}{% endwith %}

                <div>{{ form.prefix_filter() }} {{ form.prefix_filter.label }}
                    <span class="tooltip">
                        <i class="fa fa-question-circle"></i>
                        <p>{{ form.prefix_filter.description }}</p>
                    </span>
                </div>

                <div>{{ form.has_user_token_access() }} {{ form.has_user_token_access.label }}
                    <span class="tooltip">
                        <i class="fa fa-question-circle"></i>
                        <p>{{ form.has_user_token_access.description }}</p>
                    </span>
                </div>

                {% with item = form.website %}{% include "_input.html" %}{% endwith %}
                {% with item = form.test_group %}{% include "_input.html" %}{% endwith %}
                {% with item = form.repo %}{% include "_input.html" %}{% endwith %}
            </div>
        </div>
        {{ form.submit() }}

        {% include "_token.html" %}
    </form>
</article>
{% endblock %}
