{% extends 'base.html' %}

{% block content %}
    {% if current_user.is_anonymous %}
    <div class="jumbotron">
        <h1>Enhance your GroupMe chats!</h1>
        <p>MeBots is the App Store for GroupMe bots. Choose any bot to add to your group in one click! Are you a bot developer? MeBots will enable you to scale your bot from one group to 1,000 with barely any code changes.</p>
    </div>
    {% endif %}

    <label id="search"><i class="fa fa-search"></i> <input type="text" id="search_bar" placeholder="Find the perfect bot..."></label>
    {% include '_bot_list.html' %}
    <script src="/static/js/search.js"></script>
{% endblock %}
