{% extends 'base.html' %}

{% block content %}
    {% if current_user.is_anonymous %}
    <div class="jumbotron">
        <h1>Enhance your GroupMe chats!</h1>
        <p>Choose a bot to add to your group, or launch your own scalable bot in just a few clicks!</p>
    </div>
    {% endif %}

    <label id="search"><i class="fa fa-search"></i> <input type="text" id="search_bar" placeholder="Find the perfect bot..."></label>
    {% include '_bot_list.html' %}
    <script src="/static/js/search.js"></script>
{% endblock %}
