{% extends "base.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}
            {{ form.username }}
            {% for error in form.username.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
        </div>

        <div>
            {{ form.password.label }}
            {{ form.password }}
            {% for error in form.password.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
        </div>

        <span>{{ form.remember_me() }} {{ form.remember_me.label }}</span>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <p><a href="{{ url_for('register') }}">Register</a> <a href="{{ url_for('reset_password_request') }}">Reset Password</a></p>
{% endblock %}
