{% extends "base.html" %}
{% block content %}
<section>
    <h2>Add {{ bot.name }} to a group</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.access_token }}

        <div>
            {{ form.group_id }}
        </div>

        {% if bot.name_customizable %}
        <div>
            {{ form.name.label }}
            {{ form.name }}
        </div>
        {% endif %}

        {% if bot.name_customizable %}
        <div>
            {{ form.avatar_url.label }}
            {{ form.avatar_url }}
        </div>
        {% endif %}

        <div>
            {{ form.submit }}
        </div>
    </form>
</section>
<section>
    <h2>Active groups</h2>
    {% if instances %}
    <table>
        <thead>
            <th>Avatar</th>
            <th>Bot ID</th>
            <th>Name</th>
            <th>Group</th>
            <th></th>
        </thead>
        <tbody>
            {% for instance in instances %}
            <tr>
                <td><img src="{{ instance.avatar_url }}"></td>
                <td>{{ instance.id }}</td>
                <td>{{ instance.name }}</td>
                <td>{{ instance.group_name }}</td>
                <td><button class="button delete" group_id="{{ instance.group_id }}">Leave</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>You haven't added this bot to any groups yet!</p>
    {% endif %}
</section>
<script src="/static/scripts/manager.js"></script>
{% endblock %}
