{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/manager.css">
{% endblock %}

{% block content %}
<section>
    <h2>
        Add {{ bot.name }} to a group {% if bot.owner == current_user %}<a href="{{ url_for('edit_bot', slug=bot.slug) }}">(Edit)</a>{% endif %}
    </h2>
    <form method="post">
        {{ form.hidden_tag() }}

        <div>
            {{ form.group_id }}
        </div>

        {% if bot.name_customizable %}
        <div>
            {{ form.name.label }}
            {{ form.name }}
        </div>
        {% endif %}

        {% if bot.name_customizable %}
        <div>
            {{ form.avatar_url.label }}
            {{ form.avatar_url }}
        </div>
        {% endif %}

        <div>
            {{ form.submit }}
        </div>
    </form>
</section>
<section>
    <h2>Active groups</h2>
    {% if instances %}
    <table>
        <thead>
            <th>Avatar</th>
            {#<th>Bot ID</th>#}
            <th>Name</th>
            <th>Group</th>
            <th></th>
        </thead>
        <tbody>
            {% for instance in instances %}
            <tr>
                <td><img src="{{ instance.avatar_url or bot.avatar_url }}"></td>
                {#<td>{{ instance.id }}</td>#}
                <td>{{ instance.name or bot.name }}</td>
                <td>{{ instance.group_name }}</td>
                {# we should avoid revealing the bot IDs if we can! That'd be neat. Although they
                   could just get it through the bot management panel anyway... #}
                <td><button class="button delete" instance_id="{{ instance.id }}">Leave</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>You haven't added this bot to any groups yet!</p>
    {% endif %}
</section>
<script src="/static/js/manager.js"></script>
{% endblock %}
