{% extends "base.html" %}

{% block content %}
<section class="profile">
    <img class="avatar" src="{{ user.avatar_url() }}" alt="Avatar of {{ user.username }}">
    <div class="details">
        <h1>{{ user.name }}</h1>
        {% if user == current_user %}
        <a class="button" href="https://web.groupme.com/profile"><i class="fa fa-pencil"></i> Edit Profile</a>
        <a class="button" href="{{ url_for('views.logout') }}"><i class="fa fa-sign-out"></i> Logout</a>
        {% endif %}
    </div>
</section>
{% include '_bot_list.html' %}
{% endblock %}
